/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing

/.idea
/.vscode
.todo
*.todo

report.xml
.phpunit.result.cache
.phpunit.cache

horizon.log
npm-debug.log
yarn-error.log

.editorconfig 
.eslintrc.js
.prettierrc 
.styleci.yml 
jsconfig.json 
pint.json 
supervisord.pid

