@import '@patternfly/patternfly/patternfly.min.css';
@import '@patternfly/patternfly/patternfly-addons.css';
@import 'highlight.js/styles/base16/tomorrow-night.css';
@import 'login_background.css';

[v-cloak] { display: none !important; }
  
  /* APIDOC Styling */
.endpointitem {
    background-color: #f3f0ee;
}
.meth-get {
    background-color: var(--pf-global--palette--green-300) !important;
}
.meth-post {
    background-color: var(--pf-global--palette--blue-400) !important;
}
.meth-put {
    background-color: var(--pf-global--palette--gold-400) !important;
}
.meth-delete {
    background-color: var(--pf-global--danger-color--200) !important;
}

.method {
    font-weight: var(--pf-global--FontWeight--light);
    font-size: var(--pf-global--FontSize--sm);
    display: inline-block;
    margin: 0 0 0px 0;
    padding: 4px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: var(--pf-global--palette--black-500);
    color: var(--pf-global--palette--black-100);
}
.apiCopyLink {
    cursor: pointer;
    color: var(--pf-global--palette--black-500);
}
.apiCopyLink:hover {
    cursor: pointer;
    color: var(--pf-global--palette--black-800);
}

/* APIDOC Styling */

/* Table Overflow Fix */
.pf-c-table .pf-c-table__sort {
    min-width: 0px;
}

/* copyLink */
.copyLink {
    display: none !important;
}
.copyLink:hover {
    display: inline !important;
    opacity: 1 !important;
}
.copyLinkDD:hover .copyLink {
    margin-left: 2px;
    cursor: pointer;
    display: inline !important;
    opacity: 0.7;
}

.resizer {
    /* Displayed at the right side of column */
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    border-right: 2px solid #eeeeee
}
.resizer:hover,
.resizing {
    border-right: 2px solid #cacbcd;
}

.pf-c-table .pf-c-table__check, .pf-c-table .pf-c-table__toggle, .pf-c-table .pf-c-table__action, .pf-c-table .pf-c-table__favorite, .pf-c-table th.pf-m-favorite, .pf-c-table .pf-c-table__inline-edit-action, .pf-c-table .pf-c-table__draggable {
    --pf-c-table--cell--MinWidth: 0;
    --pf-c-table--cell--Width: 1%;
}
.pf-c-table__check {
    --pf-c-table--cell--FontSize: var(--pf-c-table__check--input--FontSize);
}

/* MultiSelect Overflow Fix */
.multi-select-dropdown-overflow {
    max-height: 300px;
    overflow-y: auto;
}
