.rc-btn-shadow {
  @apply shadow-[rgb(47,48,51)_0px_0px_0px_1px_inset,_rgb(0,0,0)_0px_0px_2px_0px,_rgba(0,0,0,0.08)_0px_1px_3px_0px] dark:shadow-[rgb(47,48,51)_0px_0px_0px_1px_inset,_rgb(0,0,0)_0px_0px_2px_0px,_rgba(0,0,0,0.08)_0px_1px_3px_0px]
}