.rc-dialog-header {
  display: flex;
  flex: 0 1 0%;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  gap: 1px;
  padding: 10px 16px;
  width: 100%;
  border-bottom-width: 1px;
}

.rc-dialog-footer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding-left: 12px;
  padding-right: 8px;
  border-top-width: 1px;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}
 

