@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220, 8%, 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 220, 8%, 15%;

    --card: 0 0% 100%;
    --card-foreground: 220, 8%, 15%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 220, 8%, 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220, 8%, 15%;
    --foreground: 210 40% 98%;

    --muted: 220, 6%, 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 220, 8%, 15%;
    --popover-foreground: 210 40% 98%;

    --card: 220, 8%, 15%;
    --card-foreground: 210 40% 98%;

    --border: 220, 6%, 20%;
    --input: 220, 6%, 20%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 220, 6%, 20%;
    --secondary-foreground: 210 40% 98%;

    --accent: 220, 6%, 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #232529;
}

::-webkit-scrollbar-thumb {
  background-color: #474a4f;
  border-radius: 2px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.rc-kdb-class {
  color: rgb(134, 136, 141);
  box-shadow: rgb(55, 57, 62) 0px 0px 0px 1px inset;
  font-size: 11px;
  border-radius: 6px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: 1;
}
.rc-kdb-class2 {
  color: rgb(203, 205, 211);
  box-shadow: rgb(156, 161, 175) 0px 0px 0px 1px inset;
  font-size: 11px;
  border-radius: 6px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: 1;
}

.rc-dialog-header {
  display: flex;
  flex: 0 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  padding: 10px 16px;
  width: 100%;
  border-bottom-width: 1px;
}
.rc-dialog-footer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding-left: 12px;
  padding-right: 8px;
  border-top-width: 1px;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-to,
.fade-enter-from {
  opacity: 0;
}

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
  height: 48px;
}

/* close nav icon */

.nav-icon[data-hovering='true'] {
  transform: translateX(-6px) scale(0.9);
  opacity: 0;
}

.nav-icon {
  transition:
    transform 200ms ease 0s,
    opacity 120ms ease 0s;
}

.nac-icon-xform[data-hovering='true'] {
  transform: translateX(-4px);
  opacity: 0;
}

.nac-icon-xform {
  transition:
    transform 200ms ease 0s,
    opacity 120ms ease 0s;
}

.nav-icon-form-2[data-hovering='true'] {
  transform: translate(0px);
  opacity: 1;
}

.nav-icon-form-2 {
  transition: all 200ms ease 0s;
}

.top-nav-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.nav-state-icon[data-hovering='false'] {
  transform: translateX(-6px) scale(0.9);
  opacity: 0;
}

.nav-state-icon {
  transition:
    transform 200ms ease 0s,
    opacity 120ms ease 0s;
}

.nav-state-icon2[data-hovering='false'] {
  transform: translateX(-6px);
}

.nav-state-icon2 {
  transition: all 200ms ease 0s;
}

.nav-state-icon3[data-hovering='false'] {
  transform: translateX(-4px);
  opacity: 0;
}

.nav-state-icon3 {
  transition:
    transform 200ms ease 0s,
    opacity 120ms ease 0s;
}
/* close nav icon */

._RayContainer_4d1mx_34[data-chat-started='false'] {
  animation: 0.25s linear 0s 1 _fade-in_4d1mx_1;
}

._RayContainer_4d1mx_34[data-theme='light'] {
  --gradient-opacity: 0.5;
}

._RayContainer_4d1mx_34[data-theme='light'][data-chat-started='true'] {
  opacity: 0.5;
}

._RayContainer_4d1mx_34 ._LightRay_4d1mx_56 {
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

._RayContainer_4d1mx_34 ._RayOne_4d1mx_61 {
  width: 480px;
  height: 680px;
  transform: rotate(80deg);
  top: -540px;
  left: 250px;
  filter: blur(110px);
}

._RayContainer_4d1mx_34 ._RayTwo_4d1mx_69 {
  width: 110px;
  height: 400px;
  transform: rotate(-20deg);
  top: -280px;
  left: 350px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(60px);
}

._RayContainer_4d1mx_34 ._RayThree_4d1mx_79 {
  width: 400px;
  height: 370px;
  top: -350px;
  left: 200px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(21px);
}

._RayContainer_4d1mx_34 ._RayFour_4d1mx_88 {
  position: absolute;
  width: 330px;
  height: 370px;
  top: -330px;
  left: 50px;
  mix-blend-mode: overlay;
  opacity: 0.5;
  filter: blur(21px);
}

._RayContainer_4d1mx_34 ._RayFive_4d1mx_98 {
  position: absolute;
  width: 110px;
  height: 400px;
  transform: rotate(-40deg);
  top: -280px;
  left: -10px;
  mix-blend-mode: overlay;
  opacity: 0.8;
  filter: blur(60px);
}

._RayContainer_4d1mx_34 ._LightRay_4d1mx_56 {
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

._RayContainer_4d1mx_34 ._RayOne_4d1mx_61 {
  width: 480px;
  height: 680px;
  transform: rotate(80deg);
  top: -540px;
  left: 250px;
  filter: blur(110px);
}

._RayContainer_4d1mx_34 ._RayTwo_4d1mx_69 {
  width: 110px;
  height: 400px;
  transform: rotate(-20deg);
  top: -280px;
  left: 350px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(60px);
}

._RayContainer_4d1mx_34 ._RayThree_4d1mx_79 {
  width: 400px;
  height: 370px;
  top: -350px;
  left: 200px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(21px);
}

._RayContainer_4d1mx_34 ._RayFour_4d1mx_88 {
  position: absolute;
  width: 330px;
  height: 370px;
  top: -330px;
  left: 50px;
  mix-blend-mode: overlay;
  opacity: 0.5;
  filter: blur(21px);
}

._RayContainer_4d1mx_34 ._RayFive_4d1mx_98 {
  position: absolute;
  width: 110px;
  height: 400px;
  transform: rotate(-40deg);
  top: -280px;
  left: -10px;
  mix-blend-mode: overlay;
  opacity: 0.8;
  filter: blur(60px);
}

@keyframes _fade-in_4d1mx_1 {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes _fade-and-move-in_4d1mx_1 {
  0% {
    opacity: 0;
    transform: translateY(var(--translate-y, 10px));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
