@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220, 8%, 15%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 220, 8%, 15%;

    --card: 0 0% 100%;
    --card-foreground: 220, 8%, 15%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 220, 8%, 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220, 8%, 15%;
    --foreground: 210 40% 98%;

    --muted: 220, 6%, 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 220, 8%, 15%;
    --popover-foreground: 210 40% 98%;

    --card: 220, 8%, 15%;
    --card-foreground: 210 40% 98%;

    --border: 220, 6%, 20%;
    --input: 220, 6%, 20%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 220, 6%, 20%;
    --secondary-foreground: 210 40% 98%;

    --accent: 220, 6%, 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.izeqKn[data-full-width='true'] {
  flex: 1 1 0%;
}
.izeqKn {
  margin: 0px;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgb(49, 51, 55) 0px 0px 0px 1px inset;
  background: rgb(27, 29, 33);
  height: 28px;
  padding: 4px 6px;
  gap: 6px;
  position: relative;
  transition: background 140ms;
}
.iaiJhj {
  font-family: Inter;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  color: rgb(159, 161, 167);
}
.bxnAJf {
  color: rgb(134, 136, 141);
  box-shadow: rgb(55, 57, 62) 0px 0px 0px 1px inset;
  font-size: 11px;
  border-radius: 6px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: 1;
}
.bxnAJf2 {
  color: rgb(203, 205, 211);
  box-shadow: rgb(156, 161, 175) 0px 0px 0px 1px inset;
  font-size: 11px;
  border-radius: 6px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: 1;
}

.rc-dialog-header {
  display: flex;
  flex: 0 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  padding: 10px 16px;
  width: 100%;
  border-bottom-width: 1px;
}
.rc-dialog-footer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding-left: 12px;
  padding-right: 8px;
  border-top-width: 1px;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}
